<div class="row align-items-center justify-content-around">
	<div class="col-md">
		<form action="/predict">
			<div class="form-group row">
				<p class="mb-0 lead"><em>"Hi!! This is Senti-Bo, I was created to understand human sentiments. I'm still young so I need your help. All you need to do is tell me whether my predictions are right. Thank you ..."</em></p>
			</div>
			<div class="form-group row">
				<input type="text" class="form-control form-control-lg" name="sentence" placeholder="Enter your sentence here ...">
			</div>
			<div class="form-group row">
				<button type="submit" class="btn btn-danger btn-lg" name="submit">Check</button>
			</div>
		</form>
	</div>
	<div class="col-md align-self-center">
		<img src="{{ url_for('static',filename = 'images/botcito.png')}}" class="image-fluid">
	</div>
</div>
