<div class="row align-items-end justify-content-center">
	<div class="col-md-5">
		<div class="row justify-content-start">
			<a href="/"><h1 class="display-2 text-light">Senti-Bo</h1></a>
		</div>
	</div>
	<div class="col-md-7">
		<div class="row justify-content-start align-items-end">
			<div class="col-md-4 col align-items-center">
				<p><a href="https://github.com/Tanmay06/sentiment-analysis" class="h4">About me</a></p>		
			</div>
			<div class="col-md-4 col align-items-center">
				<p><a href="https://www.linkedin.com/in/tanmay-vakare-06/" class="h4">My Creator</a></p>		
			</div>
		</div>
	</div>
</div>
		
